/**
  * @name Cool
  * @author wave0049_75490
  * @version Cool01
  * @description Cool theme for discord
  * @authorId 1158417396944617553
  * @source https://github.com/kaden7654/cooltheme
*/

@import url(https://raw.githubusercontent.com/kaden7654/cooltheme/main/CoolStuff.css');

:root {
  --darkplus-bg: #111111;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #ff3366;
  --darkplus-home-icon: url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}
